<h1> Welcome to the Anagram Detector</h1>
<form action="/result">
  <div class="form-group">
    <label for="input"> What word would you like to check?
    </label>
    <input id="input" name="input" class="form-control" type="text">
  </div>
  <div class ="form-group">
    <label for "arguments"> What words would you like to check it against?
    </label>
    <input id="arguments" name="arguments" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
